<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="my">
	<insert id="addPic">
		insert into profile values (profile_seq.nextval, #{id}, #{uri}, sysdate)
	</insert>
	
	<select id="selPic">
		select * from profile where id=#{id} order by regdate desc
	</select>

	<select id="prePic">
		select * from (select * from profile where id=#{ID} order by regdate desc) where rownum=1
	</select>
</mapper>