<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="research">
	<select id="result" resultType="java.util.HashMap">
		select score||'점' as score, count(*) as cnt from research group by SCORE order by score asc
	</select>
	
	<select id="result_2" resultType="java.util.HashMap">
		select count(*) as cnt from research where score=#{score}
	</select>
</mapper>